.navbar{
    background-color: white;
    margin-bottom: 0px;
}


.header_jugyou{
    /* color:#f3fd69; */
    font-size: 20px;
    /* padding-top: 10px; */
}

.header_contact{
    /* color:#f3fd69; */
    font-size: 20px;
    /* padding-top: 10px; */
}

.img-responsive{
    
}


/* .yellow_line {background:rgba(0, 0, 0, 0) linear-gradient(transparent 90%, #ffffbc 0%) repeat scroll 0 0;}

.green_line {background:linear-gradient(transparent 90%, #8ee67f 0%) ;}

.blue_line{background:rgba(0, 0, 0, 0) linear-gradient(transparent 90%, #cce5ff 0%) repeat scroll 0 0;} */


.tangen{
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.tangen h1{
    margin-bottom: 20px;
}

table{
    margin: auto;
    font-size: 20px;
}


table th {/*table内のthに対して*/
    padding: 10px 20px;/*上下左右10pxずつ*/
  }
  
table td {/*table内のtdに対して*/
padding: 10px 20px;/*上下3pxで左右10px*/
}


.backgroundcolor-paleturquoise{
    background-color: #b2e0f9;
}


.fontcolor-salmon{
    color: #fa8072;
}


.fontcolor-paleturquoise{
    color:#b2e0f9;
}