[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
	background-color: ;
}
.icon-￥ゼロ {
	width: 64px;
	height: 64px;
}
#icon-￥ゼロ .path1 {
	fill: currentcolor;
}
#icon-￥ゼロ .path2 {
	fill: currentcolor;
}
#icon-￥ゼロ .path3 {
	fill: currentcolor;
}
.icon-苦手 {
	width: 64px;
	height: 64px;
}
#icon-苦手 .path1 {
	fill: currentcolor;
}
#icon-苦手 .path2 {
	fill: currentcolor;
}
#icon-苦手 .path3 {
	fill: currentcolor;
}
#icon-苦手 .path4 {
	fill: currentcolor;
}
#icon-苦手 .path5 {
	fill: currentcolor;
}
#icon-苦手 .path6 {
	fill: currentcolor;
}
#icon-苦手 .path7 {
	fill: currentcolor;
}
#icon-苦手 .path8 {
	fill: currentcolor;
}
#icon-苦手 .path9 {
	fill: currentcolor;
}
#icon-苦手 .path10 {
	fill: currentcolor;
}
#icon-苦手 .path11 {
	fill: currentcolor;
}
.icon-おこづかい {
	width: 64px;
	height: 64px;
}
#icon-おこづかい .path1 {
	fill: rgb(68, 68, 68);
}
#icon-おこづかい .path2 {
	fill: rgb(68, 68, 68);
}
#icon-おこづかい .path3 {
	fill: rgb(68, 68, 68);
}
#icon-おこづかい .path4 {
	fill: rgb(68, 68, 68);
}
#icon-おこづかい .path5 {
	fill: rgb(68, 68, 68);
}
#icon-おこづかい .path6 {
	fill: rgb(68, 68, 68);
}
#icon-おこづかい .path7 {
	fill: rgb(68, 68, 68);
}
#icon-おこづかい .path8 {
	fill: rgb(245, 245, 245);
}
#icon-おこづかい .path9 {
	fill: rgb(255, 255, 255);
}
.icon-東大 {
	width: 64px;
	height: 64px;
}
#icon-東大 .path1 {
	fill: currentcolor;
}
#icon-東大 .path2 {
	fill: currentcolor;
}
#icon-東大 .path3 {
	fill: currentcolor;
}
#icon-東大 .path4 {
	fill: currentcolor;
}
